// ------------------------------------------------------------------
// ENDORSEMENT BOX       --------------------------------------------
// ------------------------------------------------------------------

.candidate__endorsed{
	box-sizing:border-box;
	padding: #{($grid-gap / 2) + 5px} #{$grid-gap / 2} #{$grid-gap / 2} #{$grid-gap / 2};
	background: $trib-gray4;
	position: relative;
	border-radius: $border-radius;

	a{
		font-weight: bold;
	}

	p{
		@include sans-serif();
		margin: 0;
		padding: 0;
	}
}

.candidate__endorsed-icon{
    height: 2em;
    width: 2em;
    // float: left;
    // margin: .25em .5em 0 0;	
    position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 7px solid $trib-gray4;
	border-radius: 50%;
	background: white;
}


// ------------------------------------------------------------------
// VARIOUS METADATA LISTS --------------------------------------
// ------------------------------------------------------------------


.candidate-contact-list{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap: wrap;
	list-style:none;
	padding: 0;
	margin: 0;

	li{
		@include distribute_across_columns(3);
	}

	svg{
		fill: black;
	}
}

.candidate__meta{
	margin: 0 0 #{$grid-gap / 2} 0;
	padding: 0;

	dt, dd{
		@include serif();
		display:inline;
		margin: 0;
		padding: 0;
	}

	dt{
		@include sans-serif();
		font-weight: bold;
		&:after{
			content: ": ";
		}
	}
}


// ------------------------------------------------------------------
// CANDIDATE PAGE ARCHITECTURE --------------------------------------
// ------------------------------------------------------------------


.candidate{
	@extend %container;
	margin: $grid-gap auto;

	&__name{
		@include responsive-font(4vw, 35px, 45px, 30px);
		margin: 0 0 5px 0;

	}

	&__race{
		@include sans-serif();
		margin: 0 0 #{$grid-gap / 2} 0;
	}

	&__mug{
		@include trib-image();
	    max-width: 100%;
	    margin: 0;

		img{
			border-radius: $border-radius;
			margin: 0;
		}
		
	    figcaption {
			display:none;
	    	
	    	p{
    	    	@include sans-serif();
    	    }
    	}
	}
	&__top{
		text-align: center;
		margin: 0 0 $grid-gap 0;
		width: 100%;

		.social-networks{
			justify-content: center;
		}
	}
	&__left-column{
		// Column with the endorsed box image, etc.
		width: 100px;
		float: left;
		margin: 0 #{$grid-gap / 2} 0 0;
	}

	&__right-column{
		margin-top: $grid-gap;
		padding-top: $grid-gap;
		border-top: 1px solid $trib-gray4;
	}

	&__bio{
		@include clearfix();
	}
}

// ------------------------------------------------------------------
// FORMATTING THE Q & A  --------------------------------------------
// ------------------------------------------------------------------

.question{
	@include sans-serif();
	font-weight: bold;
	border-left: 6px solid grey;
	padding-left: $grid-gap / 2;
	margin-top: $grid-gap;

	&:before{
		content: "Q: ";
	}
}

.responses{
	margin-top: $grid-gap;
	padding-top: $grid-gap;
	border-top: 1px solid $trib-grey4;

	&__header{
		@include serif-text(35px, 1.2em, normal);
		margin: 0 0 #{$grid-gap / 2} 0;
	}
}

.no-response{
	font-style: italic;
	color: $trib-gray3;
}

@media all and (min-width:$tablet-min-width){

	// UNIVERSAL STYLES
	.candidate{
		&__left-column-inner, &__right-column-inner {
			// Stick the opponents nav 
			position: sticky;
			top: $navbar_overall_height + $grid-gap;
		}
	}

	.candidate{
		display:flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap:wrap;

		&__left-column{
			float: none;
			margin: 0 #{$grid-gap} 0 0;
			width: $candidate-column-width;
		}

		&__main-column{
			flex:1;
			max-width: $tablet-min-width;
		}
		&__right-column{
			width: $candidate-column-width;
			margin-left: $grid-gap;
			margin-top: 0;
			padding-top: 0;
			border:none;
		}

		&__mug figcaption {
			display:block;
		}
	}
}
@media all and (min-width:$desktop-min-width){

	// UNIVERSAL STYLES
	// .candidate{
	// 	&__left-column-inner, &__right-column-inner {
	// 		position: sticky;
	// 		top: $navbar_overall_height + $grid-gap;
	// 	}
	// }
}

@media all and (min-width:$extra-wide-min-width){


}