.editorial {
	@include clearfix();	
	margin-bottom: #{$grid-gap / 2};
	padding-bottom: #{$grid-gap / 2};
	border-bottom: 1px solid $trib-gray4;

	&:last-child{
		padding-bottom:0;
		border-bottom:none;
	}

	img {
		width: 100%;
		margin: 0 0 #{$grid-gap / 2} 0
		// float: left;
		// margin-right: 10px;
		// width: 100px;
	}

	&--hed {
		@include serif-text(18px, 1.3em, bold);
		margin: 0 0 5px 0;
	}

	margin-bottom: 20px;
}

.time {
	@include agate();
	// font-style: italic;
	color: $trib_gray2;
	margin: 7px 0 0 0;
}
