.editorial {
	
	margin-bottom: #{$grid-gap / 2};
	padding-bottom: #{$grid-gap / 2};
	border-bottom: 1px solid $trib-gray4;

	img {
		float: left;
		margin-right: 10px;
		width: 100px;
	}

	&--hed {
		@include serif-text(18px, 1.3em, bold);
		margin: 0 0 5px 0;
	}

	margin-bottom: 20px;
}

.time {
	@include sans-serif-text(14px, 1.4em);
	font-style: italic;
	color: $trib_gray2;
	margin: 0;
}
