.nav-buttons{display:none;}

.nav-label{
	@include sans-serif();
	font-weight:bold;
	text-align:center;
	margin: 0 0 5px 0;
}

.nav-wrapper{
	box-sizing: border-box;
	padding: $grid-gap / 2;
	background: #efefef;
	border-radius: $border-radius;

	position:sticky;
	top: 0;
	z-index: 1000;
}

.nav-select{
	width: 100%;
	text-align:center;
}

@media all and (min-width: $phablet-min-width){
	.nav-wrapper{
		top: $navbar-overall-height;
	}
}

@media all and (min-width: $tablet-min-width){
	.nav-select { display:none; }
	
	.nav-buttons{
		display:flex;
		justify-content: space-between;
		align-items:stretch;
	}

	.nav-button{
		@include sans-serif();
		flex: 1;
		
		display:flex;
		justify-content: center;
		align-items:center;	
		text-align:center;


		padding: #{$grid-gap / 2} 5px; // Just a little horiz padding to keep text wrapping
		background: rgba(black, .15);
		color: black;
		margin-right: 5px;
		cursor:pointer;

		&:last-child{
			margin-right: 0;
		}
		
		&--active{
			background: $trib-blue2;
			color: set-text-color($trib-blue2, true);
		}
	}	
}