.opponents{
	margin: 0 0 #{$grid-gap} 0;
	padding: 0;
}

.opponent{
	// This is the li element of the opponents list

	@include sans-serif();
	list-style: none;
	padding: 0;
	margin: 0 0 5px 0;
	border-left: 6px solid #{map-get($candidate-colors, default)};
	border-radius: $border-radius;

	&--current, &.opponent--current:hover{
		font-weight: bold;
		background: $trib-gray3;
		a {
			color: set-text-color($trib-gray3, true);
		}
	}

	&--muted, &.opponent--muted:hover{
		opacity: .5;
		background: none;
		cursor: default;
	}

	&:hover{
		background:$trib-gray4;
	}

	a, span {
		color: black;
		text-decoration: none;

		cursor:pointer;
		padding: 3px 0 5px 6px;

		display: flex;
		justify-content: flex-start;
		align-items: stretch;

	}
}

.opponent-label{
	@include agate();
	font-weight: bold;
}

.endorsed{
	// The svg star icon for endorsed candidates
	border-radius: 50%;
	fill: white;
	width: $endorsed_icon_width;
	height: $endorsed_icon_height;
	margin-right: 5px;

	// default
	background: map-get($candidate-colors, "default");
	border: map-get($candidate-colors, "default");
}

// Make the variant classes to assign colors 
@each $key, $color in $candidate-colors{
	.opponent--#{$key}{ border-color: #{$color}; }
	.endorsed--#{$key}{
		background: #{$color};
		border: 2px solid #{$color};
	}
}


