$anchor-offset: $navbar-overall-height + 85px;
$anchor-offset: 0;

.category{
	// display:flex;
	// align-items: stretch;
	// justify-content: space-between;
	// flex-wrap: wrap;
	position: relative;

	// This gives the padding necessary for when navigating using 
	// the floating buttons. Without this, the page would jump to 
	// the top, under the navbar
	// padding-top: $navbar-overall-height + 70px; 
	padding-top: $anchor-offset;
	margin-top: 0 - $anchor-offset;
	// width: 100%;

	&__subhede{
		@include label4();
		flex-basis: 100%;
		margin: #{$grid-gap / 2} 0;
		text-align:center;
	}

}

.offices{
	width: 100%;
	display:flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}

.office {
	@include distribute-across-columns(1);
    box-sizing: border-box;
	margin: 0 auto $grid-gap auto;

	&:first-child:last-child{
		// If the office is both the first and last child, then it is solo.
		// We want these to be centered.
		margin-left: auto;
		margin-right: auto;
	}

	
	&__subhede{
		@include serif-text(22px, 1.3em);
		margin: 0 0 #{$grid-gap / 2} 0;
	}
}

@media all and (min-width: $tablet-min-width){
	.office {
		@include distribute-across-columns(2, $grid-gap);
	    padding: #{$grid-gap / 2};
	    border: 1px solid $trib-gray4;
	    border-radius: $border-radius;
	}	

	// add exception for the uber-long cook co. circuit
	// and other really long ones.
	
	.office--governor, 
	.office--attorney_general{
		width: 100%;
	    // columns: 2;
	    // column-gap: 30px;

	    .opponents{
	    	display: flex;
		    justify-content: space-between;
		    align-items: stretch;
		    flex-wrap:wrap;
	    }

	    .opponent{
			@include distribute-across-columns(2, $grid-gap);
	    }

		.office__subhede{display:none;}

	} 
}