$anchor-offset: $navbar-overall-height + 85px;

.category{
	display:flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;

	// This gives the padding necessary for when navigating using 
	// the floating buttons. Without this, the page would jump to 
	// the top, under the navbar
	// padding-top: $navbar-overall-height + 70px; 
	padding-top: $anchor-offset;
	margin-top: 0 - $anchor-offset;
	width: 100%;

}

.office {
	@include distribute-across-columns(1);
    box-sizing: border-box;
	margin-bottom: 20px;

	
	h5 {
		@include serif-text(22px, 1.3em);
		margin: 0 0 10px 0;
	}
}

@media all and (min-width: $tablet-min-width){
	.office {
		@include distribute-across-columns(2, $grid-gap);
	    padding: #{$grid-gap / 2};
	    border: 1px solid $trib-gray4;
	    border-radius: $border-radius;
	}	

	// add exception for the uber-long cook co. circuit
	// and other really long ones.
	.office--cook_county_circuit,
	.office--governor, 
	.office--cook_county_board {
		width: 100%;

		.opponents{
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			flex-wrap: wrap;

			li{
				@include distribute-across-columns(3, 45px);
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}