.stars-topper{
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	margin: #{$grid-gap} 0;
	position: relative;
	text-align: center;
	
	&:before{
		content:"";
		height: 2px;
		width: 100%;
		background: black;

		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);

	}

	&__label{
		@include serif-text(20px, 1em, normal);
	    flex-basis: 200px;
		text-transform: uppercase;
		padding: 0 5px;
		background: white;
		z-index:2;
		margin: 0;
	}

	a{
		color: black;
		cursor:pointer;
	}
}

.star{
	width: $stars-dimension;
	height: $stars-dimension;
	fill: green;
	z-index:2;
	background: white;
	padding: 0 5px;
}

#mwrd .stars-topper__label{
	// A sad reality, but here is a hack to make things look nicer in one specific instance
	flex-basis: 320px;
}

@media all and (min-width: $tablet-min-width){
	.stars-topper{
		height: $stars-dimension;
		&__label{
			font-size: 25px;
			flex-basis: auto;
		}
	}
}

@media all and (min-width: $desktop-min-width){
	
}
