*.pyc
*.pyo
.DS_Store
*.swp
.sass-cache
tarbell_config.pyc

#artifact from excel
~$_spreadsheet.xlsx

# Ignore build dependencies 
node_modules

# Ignore artifacts from the build process
.sass-cache

# You probably want to ignore files created by the front-end build
# process.  Uncomment these lines to do so:
css
app.min.js
vendor.min.js
js/*.map 
.DS_Store

# Don't keep generated content
sprite.svg
img/candidates/*.jpg
img/candidates/*.jpeg
img/candidates/*.png

# Local storage of assets, such as .PSDs
_vault
