{% extends "templates/_base-elex.html" %}

{% set categories = candidates|get_unique_values('race_category') %}
{% set offices = candidates|get_unique_values('race_office') %}

{% block content %}
	
	<section id='intro' class='intro container'>
		{{ stars_topper("Editorial Board Questionnaires") }}
		<div class='river'>
			{{ intro|markdown }}
			{% if bedsheet_text and bedsheet_link != False %}
				<p><a href="http://{{ ROOT_URL }}/{{bedsheet_link}}">{{ bedsheet_text }}</a></p>
			{% endif %}
			<form id='candidate-lookup' class='candidate-lookup'>
				<input type='text' placeholder="Search for a candidate" />
				<button type='submit'>Search</button>
			</form>
			<dl class='races-legend'>
				<dt>{{ endorsed() }}</dt>
				<dd>= Endorsed by Chicago Tribune</dd>
			</dl>
		</div>
	</section>
	
	<section id='content' class='content container'>
		{% include "subtemplates/_buttons.html" %}
		<div class='row'>
			<div class='races'>
				{% for category in categories %}
					<div id={{ control[category]['anchor'] }} class='category category--{{ category|lower }}'>
					{{ stars_topper(control[category]['label']) }}
					{% for office in offices %}
						{# Check if any candidates are in the category > office #}
						{% if candidates|has_any(category, office) %}
							<div class='office office--{{ office|lower }}'>
								<h5>{{ office }}</h5>
								{% include 'subtemplates/_opponents-list.html'%}
							</div>
							{% endif %}
					{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class='editorials'>
				{{stars_topper('editorials')}}
				<div class='editorials__col'>
				</div>
			</div>
		</div>
	</section>
	{# {{ refer() }} #}
{# 	<section id='credits' class='credits container'>
		<div class='river'>
			{% if note %}{{ note|markdown }}{% endif %}
			{% if sources %}{{ sources|markdown }}{% endif %}
			{% if credit %}{{ credit|markdown }}{% endif %}
		</div>
	</section> #}
{% endblock content %}

{% block library_scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script>
	<script>
		{# // We'll use this to power the autocomplete #}
		window.ROOT_URL = "http://{{ ROOT_URL }}";
		window.candidates = {{ candidates|generate_autocomplete_list|tojson }}
	</script>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}

{% block comments %}{% endblock %}