{% from 'base-subtemplates/_macros.html' import cta as refer with context %}

{% macro star(class) %}
	<svg class='{{ class }}' viewBox="0 0 30 30">
		<use xlink:href="#star" />
	</svg>
{% endmacro %}

{% macro stars_topper(label, link=False) %}
	<div class='stars-topper'>
		{{ star('star') }}
		{{ star('star') }} 
		<h2 class='stars-topper__label'>
			{% if link %}<a href="{{ link }}">{% endif %}{{ label|upper }}{% if link %}</a>{% endif %}
		</h2>
		{{ star('star') }}
		{{ star('star') }} 
	</div>
{% endmacro %}


{% macro endorsed(party) %}
	{{ star('endorsed endorsed--' ~ party) }}
{% endmacro %}

{% macro add_contact_icon(link="#", id="star") %}
	<a href="http://{{ link }}" target="_blank">
		<svg viewbox="0 0 30 30">
			<use xlink:href="#{{ id|lower }}" />
		</svg>
	</a>
{% endmacro %}

{% macro elex_refer() %}
	{{ refer(header=refer_header, link=refer_link)}}
{% endmacro %}

{% macro add_candidates(office, parties, candidates_list) %}
	{% if candidates_list and candidates_list|length > 0 %}
		<div class='office office--{{ office|lower|slugify }}'>
		<h3 class='office__subhede'>{{ office }}</h3>
		{% for party in parties %}
			{% for c in candidates_list|sort(attribute="name_last") if c.party|lower == party %}
				{% if loop.first %}
					<p class='opponent-label'>{{ party|upper }}</p>
					<ul class='opponents opponents--{{ party }}'> {# Open the list #}
				{% endif %}
				{{ add_candidate(c) }}
				{% if loop.last %}
					</ul> {# Closes the list #}
				{% endif %}
			{% endfor %}  {# <!--end candidate loop--> #}
			{% endfor %}  {# <!--end party loop--> #}
		</div>
	{% endif %}
{% endmacro %}


{% macro add_candidate(c) %}
	{# For adding candidate to opponent lists #}
	{% if c.completed_survey == 1 %}
		{% set completed = True %}
	{% else %}
		{% set completed = False %}
	{% endif  %}
	
	<li class='opponent {% if not completed %}opponent--muted{% endif %} opponent--{{ c.party|lower }}'>
	{% if completed %}
		{% set url = url_for("candidate-surveys-2018.candidate_survey_response_page",id=c.id) %}
		<a href="{{ url }}">
	{% else %}
		<span>
	{% endif %}
	{% if c.endorsed == 1 %}{{ endorsed(c.party|lower) }}{% endif %}
	{{ c.name }}{% if not completed %} (No survey){% endif %}
	{% if completed %}</a>{% else %}<span>{% endif %}

	</li>
{% endmacro %}