{% from 'subtemplates/_macros.html' import endorsed as endorsed %}

{# Filter by party, first #}
{% for party in ['democratic', 'republican'] %}

	{# Filter to the list of opponents #}
	{% for opponent in candidates|get_opponents(candidate_info)|sort(attribute="name_last") if opponent.party|lower == party %}
		{% if loop.first %}
			<p class='opponent-label'>{{ party|upper }}</p>
			<ul class='opponents opponents--{{ party }}'>
		{% endif %}

		{% if opponent.completed_survey == 1 %}
			{% set completed = True %}
		{% else %}
			{% set completed = False %}
		{% endif  %}
		<li class='opponent {% if not completed %}opponent--muted{% endif %} {% if opponent.current %}opponent--current{% endif %} opponent--{{ opponent.party|lower }}'>
			{% if completed %}
				{% set url = url_for("candidate-surveys-2018.candidate_survey_response_page",id=opponent.id) %}
				<a href="{{ url }}">
			{% else %}
				<span>
			{% endif %}
				{% if opponent.endorsed == 1 %}{{ endorsed(opponent.party|lower) }}{% endif %}
				{{ opponent.name }}{% if not completed %} (No survey){% endif %}
			{% if completed %}
				</a>
			{% else %}
				<span>
			{% endif %}
		</li>

		{% if loop.last %}
			</ul>
		{% endif %}
	{% endfor %}
{% endfor %}