{% from 'subtemplates/_macros.html' import add_candidate as add_candidate with context%}
{% from 'subtemplates/_macros.html' import add_candidates as add_candidates with context%}
{% from 'subtemplates/_macros.html' import elex_refer as elex_refer with context%}
{% from 'subtemplates/_macros.html' import stars_topper as stars_topper with context%}


{% block content %}
	{% with %}
		{# Using the WITH tag, these variables are made universal throughout the block #}
		{% set parties = ['democratic', 'republican', 'libertarian', 'green'] %}
		{% set offices = candidates|get_unique_values('race_office') %}
		{%- for controller in control|sort(attribute="order") if controller.Status|lower == "on" %}
			<div id={{ controller.id|lower }} class='category category--{{ controller.id|lower }}'>
				{% if not loop.first %}
					{{ elex_refer() }}
				{% endif %}
				{{ stars_topper(controller.label) }}
				{# This is first-order sorting seperates by the spreadsheet tabs #}
					
				{% if controller.sort_2 %}
					{# there are special instructions #}
					{% include 'subtemplates/_sorting-' + controller.id + '.html' ignore missing with context %}
				{% else %}
					{# There are no special instructions #}
					{% for office in offices %}
						{# Check if any candidates are in the category > office #}
						{{ add_candidates(office, parties, candidates|has_any(['race_category', controller.id], ["race_office", office]))}}
					{% endfor %} {# end offices loop #}
				{% endif %} {# end check for special sorting instructions #}
			</div>
		{% endfor %}{# end controller loop #}
	{% endwith %}
{% endblock %}

{% block comments %}{% endblock comments %}