{% from 'subtemplates/_macros.html' import add_candidate as add_candidate with context%}

{% set circuits = candidates_test|get_judicial_circuits %}
{% set subcircuits = candidates_test|get_unique_values("race_subcircuit")|sort() %}
{% set vacancies = candidates_test|get_unique_values("race_vacancy")|sort() %}
{% set parties = ['democratic', 'republican', 'libertarian', 'green'] %}

<h1>Cook County Circuit</h1>
{% for subcircuit in subcircuits %}
	{% for vacancy in vacancies %}
		{% if candidates_test|has_any(['race_vacancy', vacancy], ['race_subcircuit', subcircuit]) %}
			<h2>{{ subcircuit|get_ordinal_suffix }} subcircuit, {{ vacancy }} vacancy</h2>
			{% for party in parties %}
				{% for c in candidates_test|sort(attribute="name_last") if c.race_subcircuit == subcircuit and c.race_vacancy == vacancy and c.race_district == "Cook County" and c.party|lower == party|lower %}
					{% if loop.first %}
						<p class='opponent-label'>{{ party|upper }}</p>
						<ul class='opponents opponents--{{ party }}'> {# Open the list #}
					{% endif %}
					{{ add_candidate(c) }}
					{% if loop.last %}
						</ul> {# Closes the list #}
					{% endif %}
				{% endfor %}{# Close candidates loop #}
			{% endfor %} {# Close party loop #}
		{% endif %} {# Close has_any check #}
	{% endfor %} {# Close vacancies loop #}

{% endfor %} {# Close subcircuit loop #}

{% for circuit in circuits if circuit != "Cook County" %}
	<h1>{{ circuit|get_ordinal_suffix }} circuit</h1>
	{% for party in parties %}
		{% set party_loop = loop %}
		{% for c in candidates_test|sort(attribute="name_last") if c.race_category == controller.id and c.race_district == circuit and c.party|lower == party|lower %}
			{% if c.completed_survey == 1 %}
				{% set completed = True %}
			{% else %}
				{% set completed = False %}
			{% endif  %}
			{% if loop.first %}
				<p class='opponent-label'>{{ party|upper }}</p>
				<ul class='opponents opponents--{{ party }}'> {# Open the list #}
			{% endif %}
			{{ add_candidate(c) }}
			{% if loop.last %}
				</ul> {# Closes the list #}
			{% endif %}
		{% endfor %}{# Close candidates loop #}
	{% endfor %} {# Close party loop #}
{% endfor %}{# Close circuit loop #}
