{% from 'subtemplates/_macros.html' import add_candidates as add_candidates with context%}

{% set circuits = candidates|get_judicial_circuits %}
{% set subcircuits = candidates|get_unique_values("race_subcircuit")|sort() %}
{% set vacancies = candidates|get_unique_values("race_vacancy")|sort() %}

{% for circuit in circuits %}
	<h3 class='category__subhede'>{{ circuit|get_ordinal_suffix }} circuit</h3>
	{% for subcircuit in subcircuits %}
		{% for vacancy in vacancies %}
			{% if subcircuit > 0 %}
				{# Not all judicial races have subcircuits. In this instance, they have a subcircuit value of zero #}
				{% set office_name = subcircuit|get_ordinal_suffix ~ " subcircuit, " %}
			{% else %}
				{% set office_name = "" %}
			{% endif %}

			{% set office_name = office_name ~ vacancy ~ " vacancy" %}
			{{ add_candidates(office_name, parties, candidates|has_any(['race_district', circuit], ['race_subcircuit', subcircuit], ['race_vacancy', vacancy]), loop.cycle('odd', 'even'))|trim }}
		{% endfor %} {# Close vacancies loop #}
	{% endfor %} {# Close subcircuit loop #}
{% endfor %}{# Close circuit loop #}
