{% from 'subtemplates/_macros.html' import stars_topper as stars_topper %}
{% from 'subtemplates/_macros.html' import endorsed as endorsed %}
{% from 'subtemplates/_macros.html' import add_contact_icon as add_contact_icon %}
{% from 'subtemplates/_macros.html' import elex_refer as elex_refer with context%}


{% extends "_base.html" %}

{% block content %}
	{{ stars_topper("Editorial Board Questionnaires", "http://" + ROOT_URL) }}
{% endblock content %}

{% block sprites %}
	{{ super() }}
	<div style="display:none;">{% include 'img/sprite.svg' %}</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://{{ ROOT_URL }}/css/styles.css">
{% endblock stylesheets %}



{% block scripts %}
	{# <script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script> #}
{% endblock %}

