{# http://pinterest.com/pin/create/button/?url=http://elections.chicagotribune.com/candidates/raja-krishnamoorthi/description=Learn+About+Raja%20Krishnamoorthi+In+The+Chicago+Tribune%27s+Election+Center #}
{% extends "templates/_base-elex.html" %}

{# GET CANDIDATE INFORMATIONS #}
{% set candidate_info = candidate_key|get_candidate_info %}
{% set candidate_bio = candidate_key|get_candidate_bio %}
{% set candidate_question_keys = candidate_key|get_survey_keys %}
{% set candidate_questions = candidate_key|get_survey_questions %}
{% set candidate_responses = candidate_key|get_survey_responses %}

{# Concat a string of the office being sought #}
{% set office_sought = candidate_info.race_office %}
{% if candidate_info.race_district %}
	{% set office_sought = office_sought + ", " + candidate_info.race_district + " district" %}
{% endif %}


{% macro endorsed(link) %}
<div class='candidate__endorsed'>
	<svg class='candidate__endorsed-icon'>
		<use xlink:href="#checkmark" />
	</svg>
	<p>Endorsed by the Chicago Tribune editorial board. <a href="{{ link }}">Read our endorsement »</a></p>
</div>
{% endmacro %}

{% block content %}
<div style="display:none;">{% include 'img/sprite.svg' %}</div>
<div class='candidate'>
	<div class='candidate__left-column'>
		<div class='candidate__left-column-inner'>
			<figure class='candidate__mug'>
				<img alt="{{ candidate_info.name }}" title="{{ candidate_info.name }}" src="http://{{ ROOT_URL }}/img/candidates/{{ candidate_info.name|make_photo_slug }}.jpg">
				<figcaption>
					<p>{{ candidate_info.name }}</p>
					<p>{{ candidate_info.party }} candidate for {{ office_sought }}</p>
				</figcaption>
	
			</figure>
			
			{% if candidate_info.endorsed == 1 %}
				{{ endorsed(candidate_info.endorsement_link) }}
			{% endif %}
			{% if candidate_responses.website %}
				<dl class='candidate__meta'>
					<dt>Website</dt>
					<dd><a href="http://{{ candidate_responses.website }}" target="_blank">{{ candidate_responses.website }}</a></dd>
				</dl>
			{% endif %}
			{% if candidate_info.twitter %}
				{# TODO: ICON #}
				{{ candidate_info.twitter }}
			{% endif %}
		</div>

	</div>
	<div class='candidate__main-column'>
		<section>
			{% include "base-subtemplates/_social-share.html" %}
			<h1 class='candidate__name'>{{ candidate_info.name }}</h1>
			<h2 class='candidate__race'>{{ candidate_info.party }} candidate for {{ office_sought }}</h2>

			{% if candidate_info.running_mate %}
				<dl class='candidate__meta'>
					<dt>Running mate</dt>
					<dd>{{ candidate_info.running_mate }}</dd>
				</dl>
			{% endif %}
		</section>
		<section>
			{% if candidate_bio.education %}
			<dl class='candidate__meta'>
				<dt>Education</dt>
				<dd>{{ candidate_bio.education }}</dd>
			</dl>
			{% endif %}
			{% if candidate_bio.occupation_and_employer %}
			<dl class='candidate__meta'>
				<dt>Occupation</dt>
				<dd>{{ candidate_bio.occupation_and_employer }}</dd>
			</dl>
			{% endif %}
			{% if candidate_bio.city_home_address %}
			<dl class='candidate__meta'>
				<dt>Home</dt>
				<dd>{{ candidate_bio.city_home_address }}</dd>
			</dl>{% endif %}
			{% if candidate_bio.previous_political_experience %}
			<dl class='candidate__meta'>
				<dt>Past Political/Civic Experience</dt>
				<dd>{{ candidate_bio.previous_political_experience }}</dd>
			</dl>
			{% endif %}
		</section>
		<section class='responses'>
			<h1 class='responses__header'>Responses to our questions</h1>

 			{% for key in candidate_question_keys %}
				<p class='question'>{{ candidate_questions[key|trim] }}</p>
				{{ candidate_responses[key|trim]|markdown }}
			{% endfor %}
		</section>
	</div>
	<div class='candidate__right-column'>
		<div class='candidate__right-column-inner'>
			<p class='candidate_opponents-label'>Candidates for {{ office_sought }}</p>
			<ul class="opponents">
				{# Filter to the list of opponents #}
				{% for opponent in candidates|get_opponents(candidate_info)|sort(attribute="name_last") %}
				{% if opponent.completed_survey == 1 %}
					{% set completed = True %}
				{% else %}
					{% set completed = False %}
				{% endif  %}
				<li class='opponent {% if not completed %}opponent--muted{% endif %} {% if opponent.current %}opponent--current{% endif %} opponent--{{ opponent.party|lower }}'>
					{% if completed %}<a href="#">{% endif %}
						{{ opponent.name }}
					{% if completed %}</a>{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>
{% endblock %}