{% extends "templates/_base-elex.html" %}

{% macro endorsed(link) %}
<div class='candidate__endorsed'>
	<svg class='candidate__endorsed-icon'>
		<use xlink:href="#checkmark" />
	</svg>
	<p>Endorsed by the Chicago Tribune editorial board. <a href="{{ link }}">Read our endorsement »</a></p>
</div>
{% endmacro %}

{% block content %}
<div style="display:none;">{% include 'img/sprite.svg' %}</div>
<div class='candidate'>
	<div class='candidate__left-column'>
		<div class='candidate__left-column-inner'>
			<img class='candidate__mug' alt="{{ candidate_info.name }}" title="{{ candidate_info.name }}" src="http://{{ ROOT_URL }}/img/candidates/{{ candidate_info.name|make_photo_slug }}.jpg">
			{% if candidate_info.endorsed == 1 %}
			{{ endorsed(candidate_info.endorsement_link) }}
			{% endif %}
		</div>
	</div>
	<div class='candidate__main-column'>
		
		{{ candidate_info }}
		<section>
			{% include "base-subtemplates/_social-share.html" %}
			<h1 class='candidate__name'>{{ candidate_info.name }}</h1>
				{% set office_sought =  candidate_info.race_office %}
			{% if candidate_info.race_district %}
				{% set office_sought = office_sought + ", " + candidate_info.race_district + " district" %}
			{% endif %}
			<h2 class='candidate__race'>{{ candidate_info.party }} candidate for {{ office_sought }}</h2>

			{% if candidate_info.running_mate %}
				<dl class='candidate__meta'>
					<dt>Running mate</dt>
					<dd>{{ candidate_info.running_mate }}</dd>
				</dl>
			{% endif %}
		</section>
		<section>
			<dl class='candidate__meta'>
				<dt>Education</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem similique quos, beatae doloribus consequuntur sed, accusantium aliquid repellat. Odio fuga, reprehenderit ea velit voluptates repudiandae expedita molestias dolorem, magni ab.</dd>
			</dl>
			<dl class='candidate__meta'>
				<dt>Occupation</dt>
				<dd>LOREM</dd>
			</dl>
			<dl class='candidate__meta'>
				<dt>Home</dt>
				<dd>LOREM LOREM</dd>
			</dl>
			<dl class='candidate__meta'>
				<dt>Past Political/Civic Experience</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem similique quos, beatae doloribus consequuntur sed, accusantium aliquid repellat. Odio fuga, reprehenderit ea velit voluptates repudiandae expedita molestias dolorem, magni ab.</dd>
			</dl>
		</section>
		<section class='responses'>
			<h1 class='responses-header'>Responses to our questions</h1>
			<p class='question'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae</p>
			 <p>vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>
			<p class='question'>Lorem ipsum dolor sLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti it amet, consectetur adipisicing elit. Molestiae</p>
			 <p>vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!etur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel officiis illum, labore quibusdam repellat qui eum consectetur pariatur sed minima velit deleniti dolore distinctio perspiciatis vitae consequuntur provident rerum!</p>
		</section>
	</div>
	<div class='candidate__right-column'>
		<div class='candidate__right-column-inner'>
			<p class='candidate_opponents-label'>Candidates for {{ office_sought }}</p>
			<ul class="candidate__opponents">
				{# Filter to the list of opponents #}
				{% for opponent in candidates|get_opponents(candidate_info)|sort(attribute="name_last") %}
				{% if opponent.completed_survey == 1 %}
				{% set completed = True %}
				{% else %}
				{% set completed = False %}
				{% endif  %}
				<li class='opponent {% if not completed %}opponent--muted{% endif %} {% if opponent.current %}opponent--current{% endif %} opponent--{{ opponent.party|lower }}'>
					{% if completed %}<a href="#">{% endif %}
						{{ opponent.name }}
					{% if completed %}</a>{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>
{% endblock %}