
{% extends "templates/_base-elex.html" %}

{# GET CANDIDATE INFORMATIONS #}

{% set candidate_key = candidate_info['email'] %}
{% set candidate_bio = candidate_key|get_candidate_bio %}
{% set candidate_question_keys = candidate_key|get_survey_keys %}
{% set candidate_questions = candidate_key|get_survey_questions %}
{% set candidate_responses = candidate_key|get_survey_responses %}

{# Concat a string of the office being sought #}
{% set office_sought = candidate_info.race_office %}
{% if candidate_info.race_district and candidate_info.race_category != "judicial" %}
	{% set office_sought = office_sought + " district)" %}
	{% set office_sought = office_sought.replace(', ', " (") %}
{% endif %}

{% set page_title = candidate_info['name'] + " candidate survey" %}
{# {% set page_url = "http://" ~ ROOT_URL ~ url_for('candidate-surveys-2018.candidate_survey_response_page',id=candidate_info.id) %} #}
{% set shareline = "Ahead of the primary, we asked " ~ office_sought ~ " candidate " ~ candidate_info.name ~ " the tough questions. Read the responses here." %}

{% set page_url = "http://" ~ ROOT_URL ~ request.path %}

{% macro endorsed(link) %}
<div class='candidate__endorsed'>
	<svg class='candidate__endorsed-icon'>
		<use xlink:href="#checkmark" />
	</svg>
	<p>Endorsed by the Chicago Tribune editorial board. <a href="{{ link }}">Read our endorsement »</a></p>
</div>
{% endmacro %}

{% block title %}<title>{{ page_title }} -- Chicago Tribune</title>{% endblock title %}
{% block canonical %}<link rel="canonical" href="{{ page_url }}" />{% endblock canonical %}

{% block content %}
{{ super() }}
<article class='candidate'>
	<div class='candidate__top'>
		{% with %}
			{# 
			
			This can be removed once there is proof there are no problems. -- Ryan

			<p><code>URL_ROOT</code>: {{ request.url_root }}</p>
			<p><code>ROOT_URL</code>: {{ ROOT_URL }}</p>
			<p><code>request.path</code>: {{ request.path }}</p>
			<p><code>"http://" ~ ROOT_URL ~ request.path</code>: {{ page_url }}</p>
			<p><code>URL_FOR</code>: {{ url_for('candidate-surveys-2018.candidate_survey_response_page',id=candidate_info.id) }}</p> 
			#}
			{% set shareline = shareline %}
			{% set target_url = page_url %}
			{% include "subtemplates/_social-share.html" with context %}
		{% endwith %}

		<h1 class='candidate__name'>{{ candidate_info.name }}</h1>
		<h2 class='candidate__race'>{{ candidate_info.party }} candidate for {{ office_sought }}</h2>
	</div>
	<div class='candidate__left-column'>
		<div class='candidate__left-column-inner'>
			<figure class='candidate__mug'>
				<img alt="{{ candidate_info.name }}" title="{{ candidate_info.name }}" src="http://{{ ROOT_URL }}/img/candidates/{{ candidate_info.name|make_photo_slug }}">
				<figcaption>
					<p><strong>{{ candidate_info.name }}</strong></p>
					<p>{{ candidate_info.party }} candidate for {{ office_sought }}</p>
				</figcaption>
	
			</figure>
			
			{% if candidate_info.endorsed == 1 %}
				{{ endorsed(candidate_info.endorsement_link) }}
			{% endif %}
			<ul class='candidate-contact-list'>
			{% if candidate_responses.website %}
				<li>{{ add_contact_icon(candidate_responses.website, 'website-circle') }}</li>
			{% endif %}
			{% if candidate_info.twitter %}
				<li>{{ add_contact_icon(candidate_info.twitter, 'twitter-circle') }}</li>
			{% endif %}
			{% if candidate_info.public_facebook %}
				<li>{{ add_contact_icon(candidate_info.public_facebook, 'facebook-circle') }}</li>
			{% endif %}

			</ul>
		</div>

	</div>
	<div class='candidate__main-column'>
		<section class='candidate__bio'>
			{% if candidate_info.running_mate %}
				<dl class='candidate__meta'>
					<dt>Running mate</dt>
					<dd>{{ candidate_info.running_mate }}</dd>
				</dl>
			{% endif %}
			{% if candidate_bio.education %}
			<dl class='candidate__meta'>
				<dt>Education</dt>
				<dd>{{ candidate_bio.education }}</dd>
			</dl>
			{% endif %}
			{% if candidate_bio.occupation_and_employer %}
			<dl class='candidate__meta'>
				<dt>Occupation</dt>
				<dd>{{ candidate_bio.occupation_and_employer }}</dd>
			</dl>
			{% endif %}
			{% if candidate_bio.city_home_address %}
			<dl class='candidate__meta'>
				<dt>Home</dt>
				<dd>{{ candidate_bio.city_home_address }}</dd>
			</dl>{% endif %}
			{% if candidate_bio.previous_political_experience %}
			<dl class='candidate__meta'>
				<dt>Past Political/Civic Experience</dt>
				<dd>{{ candidate_bio.previous_political_experience }}</dd>
			</dl>
			{% endif %}
		</section>
		<section class='responses'>
			<h1 class='responses__header'>Responses to our questions</h1>
			{% set refer_placed = False %}
 			{% for key in candidate_question_keys %}
				<p class='question'>{{ candidate_questions[key|trim] }}</p>
				{% if candidate_responses[key|trim] %}
					{{ candidate_responses[key|trim]|markdown }}
				{% else %}
					<p class='no-response'>Candidate did not respond</p>
				{% endif %}

				{% if loop.index > loop.length / 2 and loop.length > 5 and not refer_placed %}
					{# Just drop one CTA in the long responses #}
					{# Just put one roughly halfway through #}
					{{ elex_refer() }}
					{% set refer_placed = True %}
				{% endif %}
			{% endfor %}
		</section>
		{{ elex_refer() }}
	</div>
	<div class='candidate__right-column'>
		<div class='candidate__right-column-inner'>
			<p class='candidate__opponents-label'>Candidates for {{ office_sought }}</p>
			{% include 'subtemplates/_opponents-candidate-page.html' %}
			{# <div class="advert" data-ad-type="shrinky-cube"></div> #}
		</div>
	</div>
</article>
{% endblock %}

{% block comments %}{% endblock comments %}

{% block twitter scoped%}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chicagotribune" />
    <meta name="twitter:title" content="{{ page_title }}" />
    <meta name="twitter:description" content="{{ shareline }} via @trib_ed_board" />
	<meta name="twitter:image" content="http://{{ ROOT_URL}}/img/thumbnail/thumb_twitter.png" />
    <meta name="twitter:image:alt" content="{{ thumbnail_alt }}" />
    <meta name="twitter:creator" content="@chicagotribune" />
    <meta name="twitter:creator" content="@trib_ed_board" />
{% endblock twitter %}

{% block opengraph scoped %}
    <meta property="og:url" content="{{ page_url }}" />
    <meta property="og:type" content="article" /> 
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ shareline }}" />
    <meta property="og:image" content="http://{{ ROOT_URL}}/img/thumbnail/thumb_facebook.png" />
    <meta name="og:image:alt" content="{{ thumbnail_alt }}" />
{#     <meta name="og:image:height" content="{{ thumbnail.height }}px" />
    <meta name="og:image:width" content="{{ thumbnail.width }}px" /> #}
{% endblock opengraph %}

{% block structured_data_meta scoped %}
    {# METS/STRUCTURED DATA #}
    <meta name="description" content="{{ shareline }}" />
    <meta name="news_keywords" content="{{ candidate_info.name }}, {{ candidate_info.race_office }}, {{ seo_keywords }}" />
    <meta name="author" content="Chicago Tribune" />
{% endblock structured_data_meta %}

{% block chartbeat_page_title %}{{ page_title }}{% endblock chartbeat_page_title %}
{% block omniture_page_name %}candidate-surveys-2018--{{ id }}{% endblock omniture_page_name %}