git+https://github.com/newsapps/p2p-python.git#egg=p2p-tribune
git+https://github.com/newsapps/python-tribune-omniture.git#egg=tribune_omniture
git+https://tribune.unfuddle.com/git/tribune_python-tribune-viztools/@0.2.1#egg=tribune_viztools
smartypants==1.8.2
Pillow==8.3.2